body{
	background: url(../img/bg.jpg) no-repeat center top;
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
}

.txt-center{
	text-align: center;
}

.non-float{
	float: none !important;
}

.pr{
	position: relative;
}

.margin-bottom-0{
	margin-bottom: 0px;
}

h3, h4{
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: 300;
}

.loading #loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000}
.loading #loader{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#3498db;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;z-index:1001}
.loading #loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#e74c3c;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}
.loading #loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#f9c922;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}
@-webkit-keyframes spin {0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes spin {0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}
.loading #loader-wrapper .loader-section{position:fixed;top:0;width:50%;height:100%;background:rgba(34,34,34, 0.7);z-index:1000}
.loading #loader-wrapper .loader-section.section-left{left:0}
.loading #loader-wrapper .loader-section.section-right{right:0}
.loaded #loader-wrapper .loader-section.section-left{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000);transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000)}
.loaded #loader-wrapper .loader-section.section-right{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000);transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000)}
.loaded #loader{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.loaded #loader-wrapper{visibility:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all .3s 1s ease-out;transition:all .3s 1s ease-out}

.modal-overlay{
	z-index: 15;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0, 0.5);
	display: none;
}
.modal{
	width: 640px;
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -240px;
	z-index: 20;
	padding: 40px;
	display: none;
}

.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(51,51,51,0.4);
	text-align: center;
}

.topnav a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

.topnav a:hover {
	background-color: rgba(51,51,51,0.5);
}

.topnav .hamburger-menu {
	width: 60px;
	height: 45px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;tion: .25s ease-in-out;
	-moz-transform: scale(0.2);
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
	margin-top: 5px;
	display: none;
}

.topnav .hamburger-menu span{
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #ffffff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


.topnav .hamburger-menu span:nth-child(even) {
	left: 50%;
}

.topnav .hamburger-menu span:nth-child(odd) {
	left:0px;
}

.topnav .hamburger-menu span:nth-child(1), .topnav .hamburger-menu span:nth-child(2) {
	top: 0px;
}

.topnav .hamburger-menu span:nth-child(3), .topnav .hamburger-menu span:nth-child(4) {
	top: 23px;
}

.topnav .hamburger-menu span:nth-child(5), .topnav .hamburger-menu span:nth-child(6) {
	top: 46px;
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(1), .mobile-menu-opened .topnav .hamburger-menu span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(2), .mobile-menu-opened .topnav .hamburger-menu span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(1) {
	left: 5px;
	top: 7px;
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(5) {
	left: 5px;
	top: 29px;
}

.mobile-menu-opened .topnav .hamburger-menu span:nth-child(6) {
	left: calc(50% - 5px);
	top: 29px;
}

/* common styles */

.content{
	margin-top: 100px;
}
.content .white-inner-content{
	background: white;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
}
.content h1.page-title{
	margin-top: 0px;
	float: left;
	margin-bottom: 30px;
	line-height: 100%;
	font-weight: 200;
	color: white;
}
.content .action-group{
	margin-top: 12px;
	float: right;
}
.content .action-group .btn{
	margin-left: 5px;
}

/* search page */

.search-movie .search-area{
	width: 640px;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-weight:200;
	font-size: 18px;
	position: relative;
	margin-bottom: 45px;
}
.search-movie .information-bubble {
	position:relative;
	padding:15px;
	margin-top:10px;
	color:#000;
	background:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.search-movie .information-bubble:after {
	content:"";
	position:absolute;
	top:-29px;
	left:50px;
	border:15px solid transparent;
	border-bottom-color:#fff;
	display:block;
	width:0;
}
.search-movie .txt-keyword{
    height: 60px;
    border-radius: 30px;
    padding: 8px 30px;
	margin-bottom: 15px;
	font-size: 20px;
}
.search-movie label{
	margin-bottom: 15px;
	font-weight: 200;
}
.search-movie .btn-getmovies{
	position: absolute;
	bottom: 9px;
	right: 9px;
	border: 0px;
	border-radius: 30px;
	outline: none !important;
}

/* movie list (search - watchlist) */

.content .movie-list .movie-item{
	background: white;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
	height: 130px;
}

.content .movie-list .movie-item .movie-image img{
	width: 100%;
}
.content .movie-list .movie-item .movie-content .movie-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 120%;
}

.content .movie-list .movie-item.not-found{
	height: auto;
}

/* 404 */

.page-not-found .sad-smiley{
    background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDM2OS45NDYgMzY5Ljk0NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzY5Ljk0NiAzNjkuOTQ2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEyOHB4IiBoZWlnaHQ9IjEyOHB4Ij4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMTg0Ljk3MywzNjkuOTQ2QzgyLjk3NSwzNjkuOTQ2LDAsMjg2Ljk3MSwwLDE4NC45NzNTODIuOTc1LDAsMTg0Ljk3MywwICAgIHMxODQuOTczLDgyLjk3NSwxODQuOTczLDE4NC45NzNTMjg2Ljk3MSwzNjkuOTQ2LDE4NC45NzMsMzY5Ljk0NnogTTE4NC45NzMsMTEuOTM0Yy05NS40MSwwLTE3My4wMzksNzcuNjI5LTE3My4wMzksMTczLjAzOSAgICBzNzcuNjI5LDE3My4wMzksMTczLjAzOSwxNzMuMDM5czE3My4wMzktNzcuNjI5LDE3My4wMzktMTczLjAzOVMyODAuMzgzLDExLjkzNCwxODQuOTczLDExLjkzNHoiIGZpbGw9IiNGRkZGRkYiLz4KCTwvZz4KCTxnPgoJCTxyZWN0IHg9IjU2LjY4NSIgeT0iMjI1LjE5NiIgd2lkdGg9IjI1MC42MDkiIGhlaWdodD0iMTEuOTM0IiBmaWxsPSIjRkZGRkZGIi8+Cgk8L2c+Cgk8Zz4KCQk8cmVjdCB4PSI4OC41MDciIHk9IjExOS43NzkiIHdpZHRoPSI0OS43MjIiIGhlaWdodD0iMTEuOTM0IiBmaWxsPSIjRkZGRkZGIi8+Cgk8L2c+Cgk8Zz4KCQk8cmVjdCB4PSIyMzMuNzA0IiB5PSIxMTkuNzc5IiB3aWR0aD0iNDMuNzU1IiBoZWlnaHQ9IjExLjkzNCIgZmlsbD0iI0ZGRkZGRiIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    width: 95px;
    height: 95px;
    background-size: cover !important;
    display: inline-block;
    margin-bottom: 30px;
}

@media screen and (max-width:767px) {
	.content{
		margin-top: 40px;
	}
	.content h1.page-title{
		font-size: 23px;
		float: none;
		margin-bottom: 15px;
	}
	.content .action-group{
		float: none;
		margin-top: 0;
		margin-bottom: 15px;
	}
	.content .movie-list .movie-detail .movie-image{
		margin-bottom: 15px;
	}
	.content .movie-list .movie-item{
		height: auto;
	}
	.topnav{
		text-align: left;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav .hamburger-menu {
		float: right;
		display: inline-block;
	}
	.search-movie .search-area{
		width: 100%;
	}
	.mobile-menu-opened .topnav {
		position: relative;
	}
	.mobile-menu-opened .topnav .hamburger-menu {
		position: absolute;
		right: 0;
		top: 0;
	}
	.mobile-menu-opened .topnav a {
		float: none;
		display: block;
		text-align: left;
	}
}