body{
	background: url(../img/bg.jpg) no-repeat center top;
	font-family: 'Source Sans Pro', sans-serif;
}

h3, h4{
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: 300;
}

.loading #loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000}
.loading #loader{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#3498db;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;z-index:1001}
.loading #loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#e74c3c;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}
.loading #loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#f9c922;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}
@-webkit-keyframes spin {0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes spin {0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}
.loading #loader-wrapper .loader-section{position:fixed;top:0;width:50%;height:100%;background:rgba(34,34,34, 0.7);z-index:1000}
.loading #loader-wrapper .loader-section.section-left{left:0}
.loading #loader-wrapper .loader-section.section-right{right:0}
.loaded #loader-wrapper .loader-section.section-left{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000);transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000)}
.loaded #loader-wrapper .loader-section.section-right{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000);transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000)}
.loaded #loader{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.loaded #loader-wrapper{visibility:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all .3s 1s ease-out;transition:all .3s 1s ease-out}

.modal-overlay{
	z-index: 15;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0, 0.5);
	display: none;
}
.modal{
	width: 640px;
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -240px;
	z-index: 20;
	padding: 40px;
	display: none;
}


.content{
	margin-top: 150px;
}

.search-movie .search-area{
	width: 640px;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-weight:200;
	font-size: 18px;
	position: relative;
	margin-bottom: 45px;
}
.search-movie input{
    height: 60px;
    border-radius: 30px;
    padding: 8px 30px;
	margin-bottom: 15px;
	font-size: 20px;
}
.search-movie label{
	font-weight: 200;
}
.search-movie .btn-getmovies{
	position: absolute;
	top: 9px;
	right: 9px;
	border: 0px;
	border-radius: 30px;
	outline: none !important;
}

.search-movie .results-area .movie-item{
	background: white;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
	height: 130px;
}

.search-movie .results-area .movie-item .movie-image img{
	width: 100%;
}
.search-movie .results-area .movie-item .movie-content .movie-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-movie .results-area .movie-item.not-found{
	height: auto;
}
.search-movie .results-area .movie-item.not-found h3{
	text-align: center;
	margin-bottom: 0px;
}


.movie-detail .inner-content{
	background: white;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
}
.movie-detail .btn-goback{
	margin-bottom: 10px;
	float: right;
}